@import "tailwindcss";

/* ---- ローカルフォント設定 ---- */
@font-face {
  font-family: "yosugara";
  src: local("yosugara ver12 中"), local("yosugara ver12"),
       url("./fonts/yosugara.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* ---- 全体設定 ---- */
body {
  font-family: "yosugara", sans-serif;
  background-color: #f9fafb;
  color: #222;
}
